# COMP30760 Assignment 2 - Task 1

In this Assignment we will collect stock price data from HTML pages and construct time series from the data.

For this Assignment I have decided to collect stock frice data from the following companies:

Apple Inc. (AAPL)

Alphabet Inc. (GOOG)

Ebay (EBAY)

Pfizer (PFE)

This Notebook covers Task1-Data Collection and Preperation. I've decided to save the preprocessed versions of the data as csv files.

Below are some useful imports which we will use in this Notebook.

In [1]:
import urllib.request
import pandas as pd
import bs4
from pathlib import Path

Below are some settings for data collection purposes

In [2]:
#base link of html page
base_link="http://mlg.ucd.ie/modules/COMP30760/stocks/data-"
#html link for each stock
stock_link={"AAPL":"aapl.html","GOOG":"goog.html","EBAY":"ebay.html","PFE":"pfe.html"}
#ticker associated with each stock
stock_ticker={"Apple":"AAPL","Google":"GOOG","Ebay":"EBAY","Pfizer":"PFE"}
#create names for column
column_names=["Open","High","Low","Close"]

Create directory for raw data storage, if it does not already exist:

In [3]:
dir_raw = Path("raw_data_assignment_2")
dir_raw.mkdir(parents=True, exist_ok=True)

## Data Collection

Lets define a function to fetch the raw data from the html website:

In [4]:
def fetch_data(link, stock):
    #fetching the page where the data is stroed by adding the link of the stock to the base link
    response = urllib.request.urlopen(base_link+link)
    print ("Fetching stock data for "+stock+" .....")
    #raw html data
    html_data = response.read().decode()
    
    return html_data

Lets also define a function to count how many rows in our stock data:

In [5]:

def count_rows(parser):
    count=0
    row=0
    for match in parser.find_all("td"):
        text = match.get_text()
        count+=1
        if count == 8:
            row+=1
            count=0
    print("Rows: %i"%row)
            
    return row

## Data Preprocessing
Lets now create a function to parse the raw data and store it in a 2d array so we can easily convert it to a dataframe.

In [6]:
def parse_raw_data(data,stock): 
    print("Parsing "+stock+" data.........")
    parser = bs4.BeautifulSoup(data,"html.parser")
    count=0
    row=0
    #creating our 2d array (may be an unconventional way of doing this but worked for me :))
    #count rows function being used here also to calculate how many rows there are
    data=[[] for _ in range(count_rows(parser))]
    #for loop iterates through each line and gets all relevant data
    #From looking at the raw html data I know that inside td is where all 
    #the relevant data lies
    for match in parser.find_all("td"):
        text = match.get_text()
        data[row].append(text)
        count+=1
        #from the raw html file we I know that each row has 8 columns so we iterate onto the next column to be filled
        if count == 8:
            row+=1
            count=0
    print("Sucessfully Parsed "+stock+" data")
    
    pdData=pd.DataFrame(data,columns = ['Stock', 'Year','Month','Day', 'Open', 'High','Low', 'Close'] )
    
    return pdData

Now lets create a function to call all of the functions together so it looks nice and clean in a for loop

In [7]:
def fetch_and_parse(stock,link):
    raw_data=fetch_data(link, stock)
    parsed_data=parse_raw_data(raw_data,stock)
    
    return parsed_data

Now lets store the created dataframes for each stock in a dictionary to allow for easy accessibility

In [8]:
df_stocks={}

for stock in stock_ticker:
    print("--%s"%stock)
    #create temp variable to store dataframe 
    df_stock=fetch_and_parse(stock_ticker[stock],stock_link[stock_ticker[stock]])
    #store dataframe in given dictionary
    df_stocks[stock]=df_stock

--Apple
Fetching stock data for AAPL .....
Parsing AAPL data.........
Rows: 508
Sucessfully Parsed AAPL data
--Google
Fetching stock data for GOOG .....
Parsing GOOG data.........
Rows: 508
Sucessfully Parsed GOOG data
--Ebay
Fetching stock data for EBAY .....
Parsing EBAY data.........
Rows: 508
Sucessfully Parsed EBAY data
--Pfizer
Fetching stock data for PFE .....
Parsing PFE data.........
Rows: 508
Sucessfully Parsed PFE data

Now lets see if our above functions worked...

In [9]:
df_stocks["Google"].head(20)

,Stock,Year,Month,Day,Open,High,Low,Close
0,Stock,Year,Month,Day,Open,High,Low,Close
1,GOOG,2019,10,01,1219.000000,1231.229980,1203.579956,1205.099976
2,GOOG,2019,10,02,1196.979980,1196.979980,1171.290039,1176.630005
3,GOOG,2019,10,03,1180.000000,1189.060059,1162.430054,1187.829956
4,GOOG,2019,10,04,1191.890015,1211.439941,1189.170044,1209.000000
5,GOOG,2019,10,07,1204.400024,1218.203979,1203.750000,1207.680054
6,GOOG,2019,10,08,1197.589966,1206.079956,1189.010010,1189.130005
7,GOOG,2019,10,09,1199.349976,1208.349976,1197.630005,1202.310059
8,GOOG,2019,10,10,1198.579956,1215.000000,1197.339966,1208.670044
9,GOOG,2019,10,11,1222.209961,1228.390015,1213.739990,1215.449951
10,GOOG,2019,10,14,1212.339966,1226.329956,1211.760010,1217.140015
11,GOOG,2019,10,15,1220.400024,1247.329956,1220.400024,1243.010010
12,GOOG,2019,10,16,NaN,NaN,NaN,NaN
13,GOOG,2019,10,17,NaN,NaN,NaN,NaN
14,GOOG,2019,10,18,1253.459961,1258.890015,1241.079956,1245.489990
15,GOOG,2019,10,21,1252.260010,1254.629028,1240.599976,1246.150024
16,GOOG,2019,10,22,1247.849976,1250.599976,1241.380005,1242.800049
17,GOOG,2019,10,23,1242.359985,1259.890015,1242.359985,1259.130005
18,GOOG,2019,10,24,1260.900024,1264.000000,1253.714966,1260.989990
19,GOOG,2019,10,25,1251.030029,1269.599976,1250.010010,1265.130005

## Data Clean Up

Lets now clean up the data, as we can see some rows contain data we do not need and also there are some missing values.

Lets Define a funtion first to delete any unwanted rows.

In [10]:
def clear_rows(df):
    #for loop to iterate through each row in dataframe
    for i,check in enumerate(df['Close']):
        if check == "Close":
            print("row "+str(i)+" deleted")
            df=df.drop(i)
        
    df=df.reset_index(drop=True)
    
    
    return df

In [11]:
for stock in df_stocks:
    print(stock+"-----")
    df_stocks[stock]=clear_rows(df_stocks[stock])

Apple-----
row 0 deleted
row 65 deleted
row 319 deleted
Google-----
row 0 deleted
row 65 deleted
row 319 deleted
Ebay-----
row 0 deleted
row 65 deleted
row 319 deleted
Pfizer-----
row 0 deleted
row 65 deleted
row 319 deleted

In [12]:
df_stocks["Pfizer"].tail(20)

    Stock  Year Month Day       Open       High        Low      Close
485   PFE  2021    09  02  46.480000  46.869999  46.130001  46.840000
486   PFE  2021    09  03  46.900002  47.029999  46.340000  46.840000
487   PFE  2021    09  07  46.990002  47.500000  46.540001  46.750000
488   PFE  2021    09  08  46.509998  46.790001  46.250000  46.509998
489   PFE  2021    09  09  46.470001  46.720001  45.849998  46.029999
490   PFE  2021    09  10  46.270000  46.349998  45.509998  45.590000
491   PFE  2021    09  13  45.740002  45.830002  44.200001  44.580002
492   PFE  2021    09  14  44.669998  45.259998  44.549999  44.709999
493   PFE  2021    09  15  44.560001  45.369999  44.470001  44.770000
494   PFE  2021    09  16  44.880001  44.990002  44.029999  44.470001
495   PFE  2021    09  17  44.169998  44.459999  43.310001        NaN
496   PFE  2021    09  20  43.389999  44.650002  43.389999  44.200001
497   PFE  2021    09  21  44.250000  44.730000  43.849998  43.919998
498   PFE  2021    09  22  43.990002  44.389999  43.830002        NaN
499   PFE  2021    09  23  44.279999  44.720001  44.150002  44.189999
500   PFE  2021    09  24  44.070000  44.410000  43.810001  43.939999
501   PFE  2021    09  27  43.919998  44.130001  43.509998  43.570000
502   PFE  2021    09  28  43.070000  43.279999  42.430000  43.040001
503   PFE  2021    09  29  43.220001  43.689999  43.080002  43.529999
504   PFE  2021    09  30  43.790001  44.049999  42.970001  43.009998

Next lets create a function to fill in any missing values. For filling in missing values i am going to take the value above and below and get the average. In some cases there may be cases where there are two successive values missing. in this case I will get the average from two rows below.

In [13]:
def fill_missing_data(stock,stock_name):
    count=0
    #nested for loop to iterate over each value in each column
    for col_name in column_names:
        for i,check in enumerate(stock[col_name]):
            #case for when the first value in the column is null
            if check=="NaN" and i==0:
                stock[col_name][i]=stock[col_name][i+1]
                count+=1
                #case for only one null entry value
            elif check=="NaN":
                #case for when there is two successive values of null entries
                if (stock[col_name][i+1]=="NaN"):
                    stock[col_name][i]=(float(stock[col_name][i-1])+float(stock[col_name][i+2]))/2
                    count+=1
                else:
                    #case for only one null entry value
                    stock[col_name][i]=(float(stock[col_name][i-1])+float(stock[col_name][i+1]))/2
                    count+=1

    print(str(count) +" values filled in "+stock_name+ " dataframe")
    
            
    return stock

In [14]:
for stock in df_stocks:
    df_stocks[stock]=fill_missing_data(df_stocks[stock],stock)

78 values filled in Apple dataframe
73 values filled in Google dataframe
70 values filled in Ebay dataframe
82 values filled in Pfizer dataframe

Lets see if thus function worked

In [15]:
df_stocks["Pfizer"].head(50)

   Stock  Year Month Day       Open       High        Low      Close
0    PFE  2019    10  01  33.453510  33.462997  32.884251  32.922199
1    PFE  2019    10  02  33.453510  33.462997  32.884251  32.922199
2    PFE  2019    10  03  32.931690  33.652752  32.827324  33.633778
3    PFE  2019    10  04  33.671726  34.136623  33.633778  34.089184
4    PFE  2019    10  07  33.984821  34.402279  33.965843  33.994308
5    PFE  2019    10  08  33.823528  34.041744  33.605312  33.614799
6    PFE  2019    10  09  33.823528  34.051231  33.709679  33.861481
7    PFE  2019    10  10  33.842506  34.165085  33.776093  33.956356
8    PFE  2019    10  11  34.288425  34.705883  34.222012  34.259960
9    PFE  2019    10  14  34.307400  34.487667  34.136623  34.440228
10   PFE  2019    10  15  34.582542  34.857685  34.544594  34.629982
11   PFE  2019    10  16  34.601518  34.890892  34.525617  34.611006
12   PFE  2019    10  17  34.620495  34.924099  34.506641  34.592030
13   PFE  2019    10  18  34.563568  34.819733  34.487667  34.592030
14   PFE  2019    10  21  34.772297  34.800758  34.497154  34.592030
15   PFE  2019    10  22  34.544594  34.819733  34.392788  34.563568
16   PFE  2019    10  23  34.449715  34.895638  34.364326  34.886147
17   PFE  2019    10  24  34.867172  34.952560  34.402279  34.525616
18   PFE  2019    10  25  34.535103  34.990513  34.449715  34.947817
19   PFE  2019    10  28  34.971539  35.559772  34.933586  35.370018
20   PFE  2019    10  29  36.053131  36.774193  35.977230  36.252373
21   PFE  2019    10  30  36.442123  36.831120  36.337761  36.508537
22   PFE  2019    10  31  36.423149  36.603416  36.223907  36.404175
23   PFE  2019    11  01  36.707779  36.944973  36.423149  36.423149
24   PFE  2019    11  04  36.726753  36.755219  36.081593  36.081593
25   PFE  2019    11  05  36.081593  36.148006  35.550285  35.559772
26   PFE  2019    11  06  35.683113  35.796963  35.436432  35.683113
27   PFE  2019    11  07  35.483871  35.654648  34.990513  35.018974
28   PFE  2019    11  08  34.990513  35.256168  34.943073  35.151802
29   PFE  2019    11  11  35.018974  35.113853  34.867172  35.037952
30   PFE  2019    11  12  35.037951   35.08539    34.6537  34.881405
31   PFE  2019    11  13  35.056927  35.056927  34.440228  34.724857
32   PFE  2019    11  14  34.686909  34.876659  34.459202  34.677418
33   PFE  2019    11  15  34.753323  35.550285  34.648956  35.370018
34   PFE  2019    11  18  35.474384  35.521824  35.066414  35.313091
35   PFE  2019    11  19  35.512333  35.749527  35.407970  35.730549
36   PFE  2019    11  20  35.645161  35.759014  35.113853  35.151802
37   PFE  2019    11  21  35.303604  35.996204  35.142315  35.806454
38   PFE  2019    11  22  35.853889  36.442123  35.759014  36.366222
39   PFE  2019    11  25  36.508537  36.888046  36.480076  36.698292
40   PFE  2019    11  26  36.565464  36.612904  36.100571  36.328274
41   PFE  2019    11  27  36.413662  36.726753  36.366222  36.650852
42   PFE  2019    11  29  36.565464  36.888046  36.537003  36.546490
43   PFE  2019    12  02  36.802658  36.812145  36.290321  36.323531
44   PFE  2019    12  03  36.015179  36.242886  35.901329  36.100571
45   PFE  2019    12  04  36.271347  36.299809  35.948769  36.185959
46   PFE  2019    12  05  36.404175  36.404175  35.853889  36.081593
47   PFE  2019    12  06  36.318787  36.546490  36.261860  36.328274
48   PFE  2019    12  09  36.148006  36.413662  36.148006  36.356735
49   PFE  2019    12  10  36.309299  36.603416  36.233398  36.508537

I am now going to change some of the dtypes in this data frame and also change the index. Most importantly I am going to create a new column called date and merge the da, month and year columns together and change this to dtype(datetime64) and finally set this as the new index. This will help for getting quarterly and monthly data in task 2. I will also change the dtypes for some of the columns as we can see that they are objects  at the moment.

Lets create a function to change these columns.

In [16]:
def change_column(stock):
    #change the Year column to the new date column
    df_stocks[stock]=df_stocks[stock].rename(columns={"Year":"Date"})
    #Assign the date columns with the day month and year values, this makes it easier for changing its dtype
    df_stocks[stock]["Date"]=df_stocks[stock]["Date"].astype(str) + "-"+ df_stocks[stock]["Month"].astype(str)+ "-"+df_stocks[stock]["Day"].astype(str)
    #delete the unwanted columns
    df_stocks[stock] = df_stocks[stock].drop(df_stocks[stock].columns[[2, 3]], axis=1) 
    #change the date dtype to datetime
    df_stocks[stock]['Date']=pd.to_datetime(df_stocks[stock]['Date'])
    #change the dtypes for stock, open, close, high and low
    df_stocks[stock]['Stock']=df_stocks[stock]['Stock'].astype(str)
    df_stocks[stock]['Close']=df_stocks[stock]['Close'].astype(float)
    df_stocks[stock]['Open']=df_stocks[stock]['Open'].astype(float)
    df_stocks[stock]['High']=df_stocks[stock]['High'].astype(float)
    df_stocks[stock]['Low']=df_stocks[stock]['Low'].astype(float)
    #set the date column as the new index
    df_stocks[stock]=df_stocks[stock].set_index("Date")
    print("sucessfully updated "+stock+" index and column dtype")

In [17]:
for stock_name in stock_ticker:
    change_column(stock_name)

sucessfully updated Apple index and column dtype
sucessfully updated Google index and column dtype
sucessfully updated Ebay index and column dtype
sucessfully updated Pfizer index and column dtype

Lets see if this worked....

In [18]:
df_stocks["Apple"].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 505 entries, 2019-10-01 to 2021-09-30
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Stock   505 non-null    object
 1   Open    505 non-null    float64
 2   High    505 non-null    float64
 3   Low     505 non-null    float64
 4   Close   505 non-null    float64
dtypes: float64(4), object(1)
memory usage: 23.7+ KB

Lets see what our dataframe looks like now..

In [19]:
df_stocks["Apple"].head(50)

           Stock       Open       High        Low      Close
Date
2019-10-01  AAPL  56.267502  57.055000  56.049999  56.147499
2019-10-02  AAPL  55.764999  55.895000  54.482498  54.740002
2019-10-03  AAPL  54.607498  55.240002  53.782501  55.205002
2019-10-04  AAPL  56.410000  56.872501  55.972500  56.752499
2019-10-07  AAPL  56.567501  57.482498  56.459999  56.764999
2019-10-08  AAPL  56.455002  57.014999  56.082500  56.099998
2019-10-09  AAPL  56.757500  56.947498  56.410000  56.757500
2019-10-10  AAPL  56.982498  57.610001  56.825001  57.522499
2019-10-11  AAPL  58.237499  59.410000  58.077499  59.052502
2019-10-14  AAPL  58.724998  59.532501  58.667500  58.967499
2019-10-15  AAPL  58.533749  59.171251  58.483750  58.779999
2019-10-16  AAPL  58.342499  58.810001  58.299999  58.592499
2019-10-17  AAPL  58.772499  59.037498  58.380001  58.820000
2019-10-18  AAPL  58.647499  59.395000  58.572498  59.102501
2019-10-21  AAPL  59.380001  60.247501  59.330002  60.127499
2019-10-22  AAPL  60.290001  60.549999  59.904999  59.990002
2019-10-23  AAPL  60.525002  60.810001  60.305000  60.794998
2019-10-24  AAPL  61.127499  61.200001  60.452499  60.895000
2019-10-25  AAPL  60.790001  61.682499  60.720001  61.645000
2019-10-28  AAPL  61.855000  62.312500  61.680000  62.262501
2019-10-29  AAPL  62.242500  62.437500  60.642502  60.822498
2019-10-30  AAPL  61.189999  61.325001  60.302502  60.814999
2019-10-31  AAPL  61.810001  62.292500  59.314999  62.189999
2019-11-01  AAPL  62.384998  63.982498  62.290001  63.955002
2019-11-04  AAPL  64.332497  64.462502  63.845001  64.375000
2019-11-05  AAPL  64.262497  64.547501  64.080002  64.282501
2019-11-06  AAPL  64.192497  64.372498  63.842499  64.569999
2019-11-07  AAPL  64.684998  65.087502  64.527496  64.857498
2019-11-08  AAPL  64.672501  65.110001  64.212502  65.035004
2019-11-11  AAPL  64.574997  65.617500  64.570000  65.550003
2019-11-12  AAPL  65.387497  65.697502  65.230003  65.489998
2019-11-13  AAPL  65.282501  66.195000  65.267502  66.117500
2019-11-14  AAPL  65.937500  66.220001  65.525002  65.660004
2019-11-15  AAPL  65.919998  66.445000  65.752502  66.440002
2019-11-18  AAPL  66.449997  66.857498  66.057503  66.775002
2019-11-19  AAPL  66.974998  67.000000  66.347504  66.572502
2019-11-20  AAPL  66.385002  66.519997  65.099998  65.797501
2019-11-21  AAPL  65.922501  66.002502  65.294998  65.502502
2019-11-22  AAPL  65.647499  65.794998  65.209999  65.445000
2019-11-25  AAPL  65.677498  66.610001  65.629997  66.592499
2019-11-26  AAPL  66.735001  66.790001  65.625000  66.072502
2019-11-27  AAPL  66.394997  66.995003  66.327499  66.959999
2019-11-29  AAPL  66.650002  67.000000  66.474998  66.812500
2019-12-02  AAPL  66.817497  67.062500  65.862503  66.040001
2019-12-03  AAPL  64.577499  64.882500  64.072502  64.862503
2019-12-04  AAPL  65.267502  65.827499  65.169998  65.434998
2019-12-05  AAPL  65.947502  66.472504  65.682503  66.394997
2019-12-06  AAPL  66.870003  67.750000  66.824997  67.677498
2019-12-09  AAPL  67.500000  67.699997  66.227501  66.730003
2019-12-10  AAPL  67.150002  67.517502  66.464996  67.120003

Great! All thats left to do now is save the dataframes as csv files.

In [20]:
def df_dump(stock):
    file_name="%s.csv"%(stock)
    out_path=dir_raw/file_name
    df_stocks[stock].to_csv(out_path)
    print("Successfully saved data for %s stock" % stock)

In [21]:
for stock_name in stock_ticker:
    df_dump(stock_name)

Successfully saved data for Apple stock
Successfully saved data for Google stock
Successfully saved data for Ebay stock
Successfully saved data for Pfizer stock